@import "tailwindcss";
@tailwind utilities;

:root {
    --sports-green: #56a843;
    --soccer-green: #177642;
    --recess-green: #B8DD58;
    --tracks-pink: #FF8C6D;
    --basketball-red: #D44018;
    --note-yellow: #FED13D;
    --pencil-yellow: #E0AA35;
    --pool-blue: #0065B3;
    --all-white: #ffffff;
    --paperclip-gray: #B1B1B1;
    --asfalt-black: #1E1E1E;
}

#root{
    background: var(--sports-green);
    position: relative;
    background-image: url('/public/grasland.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--all-white);
    background: var(--soccer-green);

}


h1 {
    font-family: "Rubik Bubbles", system-ui;
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--all-white);
    text-shadow: 8px 8px 0px var(--soccer-green);
}

text {
        font-family: "Rubik Bubbles", system-ui;
        font-size: clamp(4.5rem, 10vw, 10rem);
        color: var(--recess-green);
        text-shadow: 8px 8px 0px var(--soccer-green);
}

header{
    font-family: "Rubik Bubbles", system-ui;
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: var(--all-white);
    text-shadow: 8px 8px 0px var(--soccer-green);
}

h2 {
    font-family: "Rubik Bubbles", system-ui;
    font-size: clamp(2rem, 4vw, 4rem);
    text-shadow: 6px 6px 0px var(--soccer-green);
}

h3 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    color: var(--recess-green);
    text-shadow: 2px 2px 0px var(--soccer-green);
}

a {
    font-weight: 500;
}

.contact{
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-size: clamp(1rem, 1vw, 1rem);
    text-shadow: 2px 2px 0px var(--soccer-green);
}

p {
    font-style: italic;
    font-size: clamp(0.8rem, 1vw, 1rem);
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px var(--soccer-green);
}



@layer base {
    .noise::after {
        content: '';
        position: fixed;
        inset: 0;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 800 800' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
        opacity: 0.30;
        pointer-events: none;
        z-index: 999;
    }
    @keyframes swing {
        0%   { transform: rotate(0deg); }
        25%  { transform: rotate(-15deg); }
        75%  { transform: rotate(15deg); }
        100% { transform: rotate(0deg); }
    }

    .keychain:hover {
        animation: swing 0.8s ease-in-out infinite;
        transform-origin: top center;
    }
}


