@import "tailwindcss";

body {
    font-family: "Climate Crisis", sans-serif;
}

h1 {
    font-weight: bold;
}

h2, h3 {
    font-weight: 400;
}

a {
    font-weight: 200;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.skills, .contact{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
